*{
    margin: 0;
    padding:0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(62deg, #676767 0%, #979797 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    font-family: "Poppins",sans-serif;

}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-shadow: #111010;
}
form{
    display: flex;
    justify-content: center;
    
    
}
form input{
    width: 300px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 20px 20px;
    height: 50px;
}
form input::placeholder{
    color: black;
}
form button{
    position: relative;
    
    padding: 0 40px;
    height: 50px;
    margin-left: 5px;
    background: #111010;
    color: #fff;
    font-size: 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    cursor: pointer;
transition: all 0.3s ease-in-out;
}
form button:hover{
    background: #111010dc;
}

::placeholder{
    color: #fff;
    font-size: 18px;
}

#show-more-btn{
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}


#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    
}

#search-result .image-container {
    width: 100%;
    height: 230px; 
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#search-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}


@media only screen and (max-width: 504px) {
    form{
        transform: scale(0.85);
    }
}
@media only screen and (max-width: 455px) {
    form{
        transform: scale(0.65);
    }
    form input::placeholder{
        font-size: 13px;
    }
}


