:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins",sans-serif;
  overflow-x: hidden;
  outline: none;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  color: var(--color-white);
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  -ms-user-select: none;
  user-select: none;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {

  padding: 10px 30px;


  position: relative;
}
.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: var(--color-primary);
}
.homeButton{
  cursor: pointer;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.dropdown-menu {
  display: none;
}
.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
  z-index: 1;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}
.hero-section {
  height: fit-content;
  min-height: 500px;
  width: 100%;
  padding-bottom: 20px;
background: #757575;
background: linear-gradient(135deg, #757575, #050505);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}
#hero-background{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-cards-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  padding-top: 200px;
  flex-wrap: wrap;
  
}
.hero-cards-ul li {
  width: 260px;
  height: 150px;


background: #FFE8A8;
background: linear-gradient(135deg, #FFE8A8, #FCE8C2);

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  font-weight: bold; 
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 20px;
  
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  margin-bottom: -10px;
  transition: all 0.3s ease-in-out;
}
.hero-cards-ul li:hover{

  background: #FFE8A8;
  background: linear-gradient(135deg, #b4a271, #b4a58b);
  
}
.hero-cards-ul li i{
  position: relative;
  z-index: 0;
}
.hero-cards-ul li img{
  position: relative;
  width: 100px;
}
#temp-icon{
  transform: scale(0.5);
  padding-top: 20px;
}
.arrow-3{
  padding-right: 30px;
}

#icon-2{
  transform: scale(1.5);
}
#icon-3{
  transform: scale(0.7);
  position: relative;
  top: -15px;
}

.text-card-div{
  text-align: center;
}

.section-1{
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: rgb(15, 15, 15);
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 150px;

background: #E29A3F;
background: linear-gradient(135deg, #ce9754, #B74913);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.section-1 h2{
  font-size: 50px;
  padding-bottom: 50px;
}
.section-1 p a{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.section-1 p a:hover{
  color: rgb(63, 63, 63);
}



.get-started-button .button {
  position: relative;
  top: 100px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.get-started-button .button:hover {
  background-color: #0056b3;
}
.appsButton{
  cursor: pointer;
}
@media only screen and (max-width: 730px) {
  .menu-bar ul {
    display: none;
  }
  }


  @media only screen and (max-width: 730px) {
    .hero-cards-ul{
      padding-top: 50px;
    }
    }