.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #2f2f2f 29%,
    hsl(0, 0%, 43%) 67%,
    #e500008f 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

p{
  font-weight: 700;
}
:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;

}
html{
  width: 100%;
 
}

body {
  font-family: "Poppins",sans-serif;
  overflow-x: hidden;
  outline: none;
  width: 100%;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}
ul{
  list-style: none;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}
#languageSelect{
  position: absolute;
  top: 14.5px;
  right: -40px;
  font-size: 15px;
  z-index: 1;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
#languageSelect option{
  color: black;
}

.logo {
  color: var(--color-white);
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  -ms-user-select: none;
  user-select: none;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {

  padding: 10px 30px;


  position: relative;
}
.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: var(--color-primary);
}
.homeButton{
  cursor: pointer;
}
.section-1 p{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 1.6;
  
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
  z-index: 1;
  transition: all 1s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  opacity: 1;
  text-align: center;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}


.hero-section {
  height: fit-content;
  min-height: 500px;
  width: 100%;
  padding-bottom: 20px;
background: #757575;
background: linear-gradient(135deg, #757575, #050505);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  padding-bottom: 80px;
}

#hero-background{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-cards-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  padding-top: 70px;
  flex-wrap: wrap;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}
.hero-cards-ul li {
  width: 260px;
  height: 150px;

  
  
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(105, 105, 105));
  
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  font-weight: bold; 
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 20px;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
  transition: all 1s ease-in-out;
  margin-bottom: -10px;
  
}
.hero-cards-ul li:hover{
  background-image: none;
  background-image: linear-gradient(135deg, rgb(187, 187, 187), rgb(49, 49, 49));
}
.hero-cards-ul li i{
  position: relative;
  z-index: 0;
}
.hero-cards-ul li img{
  position: relative;
  width: 100px;
}

#temp-icon{
  transform: scale(0.5);
  padding-top: 20px;
}
.arrow-3{
  padding-right: 30px;
}

#icon-2{
  transform: scale(1.5);
}
#icon-3{
  transform: scale(0.7);
  position: relative;
  top: -15px;
}

.text-card-div{
  text-align: center;
}

.section-1{
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: rgb(15, 15, 15);
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 130px;
  padding-left: 15px;
  padding-right: 15px;

background: aliceblue;
/* background: linear-gradient(135deg, #7BBC26, #E4ED87); */

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#ul1 strong{
  font-weight: bold;
}



.section-1 h2{
  font-size: 50px;
  padding-bottom: 50px;
  text-shadow: 0px 5px 5px rgba(81,67,21,0.8);
  text-wrap: wrap;
}
.section-1 p a{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  
}
.section-1 p a:hover{
  color: rgb(63, 63, 63);
}



.get-started-button .button {
  position: relative;
  font-size: 39px;
  top: 100px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  
  text-decoration: none; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}
.get-started-button .button:hover {
  background-color: #013b79;
}
.appsButton{
  cursor: pointer;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.social-icons {
  margin-bottom: 10px;
  
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#facebook:hover{
  color: #0056b3;
}
#twitter:hover{
  color: rgb(0, 195, 255);
}
#instagram:hover{
  color: rgb(230, 30, 230);
}
#linkedin:hover{
  color: #238bfb;
}

.footer-info {
  font-size: 14px;
}


.newsletter-section {
  background-color: aliceblue;
  padding: 40px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-container {
  max-width: 600px;
  width: 90%; 
}


.newsletter-container h2 {
  font-size: 40px;
  margin-bottom: 10px;
}


.newsletter-container p {
  color: #555;
  font-size: 30px;
  margin-bottom: 20px;
}


.newsletter-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
}


.newsletter-form input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  margin-bottom: 10px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
}


.newsletter-form button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.newsletter-form button[type="submit"]:hover {
  background-color: #0056b3;
}


.footer-info a{
  cursor: pointer;
  
}

.hero-text-information{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: #e3e3e3;
  padding-top: 100px;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
}
.hero-text-information strong{
  font-size: 25px;
  color: #ffffff;
  font-weight: 100;
}
.hero-section-2{
  padding-top: 40px;
  height: fit-content;
  min-height: 500px;
  width: 100%;
  padding-bottom: 80px;

  background: #757575;
  background: linear-gradient(135deg, #757575, #050505);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  
}


.hero-cards-ul-2{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 50px;
  padding-top: 70px;
  flex-wrap: wrap;
}
.hero-cards-ul-2 li {
  
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(105, 105, 105));
  transition: all 0.3s ease-in-out;
}

.hero-cards-ul-2 li:hover {
  background-image: linear-gradient(135deg, rgb(187, 187, 187), rgb(49, 49, 49));
}

#tempIcon{
  transform: scale(0.6);
  position: relative;
  bottom: 10px;
}
#currencyIcon{
  transform: scale(0.85);
  position: relative;
  bottom: 10px;
}
#weightIcon{
  transform: scale(0.6);
  position: relative;
  bottom: 20px;
}
.hero-text-information-2 h4{
  font-size: 40px;
  color: #fff;
}
.hero-text-information-2{
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: #e3e3e3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}

.hero-section-3{
  padding-top: 40px;
  height: fit-content;
  min-height: 500px;
  width: 100%;
  padding-bottom: 80px;

  background: #757575;
  background: linear-gradient(135deg, #757575, #050505);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  
}
.hero-cards-ul-3 li{
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(105, 105, 105));
  transition: all 0.3s ease-in-out;
}
.hero-cards-ul-3 li:hover{
  background-image: linear-gradient(135deg, rgb(187, 187, 187), rgb(49, 49, 49));
  }
#calculatorIcon{
  transform: scale(0.8);
}
#percentageIcon{
  transform: scale(0.7);
  position: relative;
  bottom: 20px;
}
#interestRateIcon{
  transform: scale(0.7);
  position: relative;
  bottom: 20px;
}




header {
  background-color: #242424;
  color: #fff;
  text-align: center;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.faq-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: aliceblue;
  
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.last-faq-item{
  border-bottom: none;
}

.question {
  color: #3498db;
  text-align: center;
}

.answer {
  margin-top: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


.reveal-button {
  background-color: aliceblue;
  color: #000000;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 33px;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  text-align: center;
  
}



.hidden {
  display: none;
}
@media (max-width: 768px) {
  .newsletter-container {
    max-width: 90%;
  }

  .newsletter-container h2 {
    font-size: 32px;
  }

  .newsletter-container p {
    font-size: 24px;
  }

  .newsletter-form input[type="email"] {
    font-size: 16px;
  }

  .newsletter-form button[type="submit"] {
    font-size: 16px;
    padding: 8px 16px;
  }
}




@media screen and (max-width: 600px) {
  .social-icons {
      margin-bottom: 20px;
  }

  .footer-info {
      font-size: 12px;
  }
  
}


@media only screen and (max-width: 730px) {
  .menu-bar ul li {
    display: none;
  }
  #languageLi{
    display: block;
  }
  #languageSelect{
    display: block;
    z-index: 99;
    position: relative;
    top: 0px;
  }

  .h1-wrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    }
  }
  

  @media only screen and (max-width: 730px) {
    .hero-cards-ul{
      padding-top: 50px;
    }
    }
@media only screen and (max-width: 1091px) {
  .removedElements{
    display: none;
  }
  

  }

  @media only screen and (max-width: 771px) {
    #languageSelect{
      font-size: 13px;
      right: 0px;
      bottom: 20px;
    }
  }
  @media only screen and (max-width: 740px) {
    .hero-text-information{
      padding-left: 30px;
      padding-right: 30px;
    }
    }
