html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 900;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
}

.result {
    text-align: center;
    font-size: 2vw;
    
    color: #fff;
    letter-spacing: 1vw;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.result2 {
    text-align: center;
    font-size: 8vw;
    margin-top: 0%;
    color: #fff;
    letter-spacing: 2vw;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
