body {
    background-image: linear-gradient(62deg, #676767 0%, #979797 100%);
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    user-select: none;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    
    background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
}

.everything-wrapper {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 450px;
    height: fit-content;
    background-color: #cfcfcf9d;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 32px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-top: 20px;
    align-items: center;
}

#enterWeightInput{  
    width: 90%;
    height: 30px;
    margin: 0 auto;
    outline: none;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    font-size: 20px;
    margin-top: 50px;
}
#selectMenu{
    width: 92%;
    height: 30px;
    margin: 20px auto;
    outline: none;
    border-radius: 9px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: transparent;


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.conversion-buttons{
    margin: 0 auto;
    margin-top: 40px;
    
}
.conversion-buttons button{
    color: #fff;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
}
.conversion-buttons button:hover{
    background-color: rgba(0, 0, 0, 0.865);
}

.result{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}



@media only screen and (max-width: 500px) {
    .everything-wrapper{
        transform: scale(0.7);
    }
}
@media only screen and (max-width: 450px) {
    .everything-wrapper{
        transform: scale(0.6);
    }
}
@media only screen and (max-height: 450px) {
    .everything-wrapper{
        transform: scale(0.6);
    }
}


    