body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(62deg, #676767 0%, #979797 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Poppins",sans-serif;
    font-weight: 50;
}
.calculator {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    background-color: #cfcfcf9d;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
label, input {
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    
    
}
input{
    background-color: transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    background-color: black;
    transition: all 0.3s ease-in-out;
    
}
button:hover{
    background-color: rgba(0, 0, 0, 0.847);
}

.result {
    font-size: 18px;
    margin: 10px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 550px) {
    .calculator{
        transform: scale(0.9);
    }
}
@media only screen and (max-width: 490px) {
    .calculator{
        transform: scale(0.8);
    }
}

