body {
    background-image: linear-gradient(62deg, #676767 0%, #979797 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins",sans-serif,Arial, sans-serif;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}

.container {
    
    position: relative;
    width: 300px;
    height: 455px;
    background: rgba(255, 255, 255, 0.289);
    backdrop-filter: blur(30px);
    border-radius: 16px;  
    top: 0px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: rgb(129, 127, 127), 201;
    padding-bottom: 60px;
}

.search-box {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    top: -5px;
    display: flex;
}

.search-box input {
    position: absolute;
    width: 70%;
    height: 100%;
    background: transparent;
    border-radius: 10px;
    left: 3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 20px;
    color: #000000;
    padding: 0 40px;
}

.search-box input::placeholder {
    color: #000000;
}

.search-box button {
    position: absolute;
    top: 10px;
    left: 250px;
    background: transparent;
    outline: none;
    border: none;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
}

.search-box i {
    position: absolute;
    color: #000000;
    font-size: 23px;
    top: 10px;
    left: 10px;
}

.degrees {
    color: #000000;
    font-size: 64px;
    font-family: Verdana;
    position: relative;
    
    font-weight: 700;
    text-align: center;
}

.information {
    text-align: center;
    position: absolute;
    top: 200px;
    font-size: 28px;
    color: #000000;
    font-weight: 700;
    padding-right: 30px;
}


@media only screen and (max-width: 400px) {
    .container-wrapper{
        transform: scale(0.7);
    }
}
   